<%- include('head'); %> 
    <title>Bienvenido</title>
</head>
    <body>
        <%- include('header'); %> 
        <div class="bienvenida">
            <h1>¡Bienvenid@!</h1>
            <p>
                Muchas gracias por confiar en nosotros para encontrar el amor.<br>
                Tu usuario ha sido registrado correctamente.<br>
                Pincha en el siguiente enlace para ir a tu perfil:
            </p>
            <br>
            <a  class="hola" href="/users/user">Perfil</a>
        </div>
        
        <%- include('footer'); %> 
    </body>
</html>