<%- include('head'); %>
    <title>Consejos de seguridad</title> 
</head>
<body>
    <%- include('header'); %> 

    <main class="content-consejos">
        <div class="main_consejos_seguridad">
            <h1>Consejos de seguridad para citas</h1>
            
            <p>
                Conocer a gente nueva es emocionante, pero siempre debes tener cuidado al interactuar con alguien que no conozcas. Usa el sentido común 
                y pon tu seguridad en primer lugar, tanto si estás enviando unos mensajes iniciales como si os estáis conociendo en persona. Si bien no 
                puedes controlar las acciones de los demás, hay ciertas cosas que puedes hacer para mantenerte a salvo mientras participes en 365.
            </p>
            
            <h2>En línea:</h2>
            
            <div class="section-consejos">

                <strong>Protege tu información personal</strong>
                    <p>
                        Nunca compartas información personal, como tu número de la seguridad social, la dirección de tu casa o del trabajo o 
                        detalles sobre tus costumbres diarias con gente que no conozcas. Si eres padre o madre, evita compartir información acerca
                        de tus hijos (su nombre, sus años, su sexo, a qué colegio van, etc...)
                    </p>

                <strong>Protege tu cuenta</strong>
                    <p>
                        Asegúrate de elegir una contraseña segura y siempre ten cuidado al iniciar sesión en tu cuenta desde un ordenador público o
                        compartido. Nunca te enviaremos un correo electrónico pidiéndote tu nombre de usuario y contraseña. Si recibes un correo 
                        electrónico solicitando información de la cuenta, denúncialo de inmediato.
                    </p>

                <strong>Nunca envíes dinero ni compartas información financiera</strong>
                    <p>
                        Nunca envíes dinero aunque la persona diga estar en una emergencia. Probablemente sea una estafa para robarte tus datos bancarios.<br>
                        Si otro usuario te pide dinero, notifícanoslo de inmediato.
                    </p>

                <strong>Sospecha de las relaciones a larga distancia o entre diferentes países</strong>
                    <p>
                        No te fíes de alguien que afirma ser de tu país pero se encuentran atrapados en otro sitio, especialmente si te
                        piden ayuda económica para volver a casa. Sospecha de cualquier persona que no quiera conocerte en persona o hacer una 
                        llamada de teléfono o vídeo; puede que no sean quién dicen ser. Si alguien está evitando tus preguntas o intenta establecer 
                        una relación seria sin conoceros en primer lugar, eso es mala señal.
                    </p>

                <strong>Denuncia todos los comportamientos sospechosos u ofensivos</strong>
                    <p>
                        Tú sabes cuándo alguien se ha pasado de la raya, y cuando eso pase nosotros queremos saberlo. Bloquea y denuncia a cualquiera
                        que viole nuestros términos de uso.
                    </p>
            </div>

            <h2>En persona:</h2>

            <div class="section-consejos">

                <strong>Quedad en público y seguid en un lugar público</strong>
                    <p>
                        Las primeras veces, asegúrate de quedar en un área pública y concurrida: nunca quedes en tu casa, en casa de la otra persona
                        ni en ningún otro lugar privado. Si la otra persona te presiona para que acudas a un lugar privado, rechaza la oferta y vete.
                    </p>
    
                <strong>Comenta tus planes a familiares y amigos</strong>
                    <p>
                        Habla con un amigo o familiar sobre tus planes, incluido dónde y cuándo habéis quedado. Lleva tu móvil y asegúrate de que
                        esté bien cargado. 
                    </p>
    
                <strong>No tengas prisa</strong>
                    <p>
                        Tómate tu tiempo y conoce a la otra persona antes de aceptar quedar o conversar fuera de nuestro sitio web. Es importante
                        estar seguro de que la persona no es un estafador y realmente es quien dice ser. Para ello y después de un tiempo, puedes
                        pedirle hacer una videollamada o hablar largo y tendido con ella.
                    </p>
    
                <strong>Conoce tus límites</strong>
                    <p>
                        Sé consciente de los efectos que las drogas y el alcohol tienen sobre ti en concreto: esas sustancias pueden nublar tu juicio
                        y tu nivel de alerta. Si la otra persona intenta presionarte para que consumas drogas o bebas más de lo que te apetece, 
                        no te dejes llevar y vete.
                    </p>
    
                <strong>No dejes tus bebidas ni tus efectos personales desatendidos</strong>
                    <p>
                        Debes saber con certeza de dónde viene tu bebida y dónde está en todo momento; acepta bebidas únicamente si te las sirve 
                        directamente el camarero. Muchas de las sustancias que se introducen en las bebidas para facilitar las relaciones sexuales 
                        ilícitamente son inodoras, incoloras e insípidas. Mantén también tu teléfono, cartera, bolso y cualesquiera otros efectos 
                        personales contigo en todo momento.
                     </p>
    
                <strong>Ten bajo control tu transporte</strong>
                    <p>
                        Es importante conocer los horarios del transporte público para que puedas irte en cualquier momento si así lo deseas. Si vas a ir 
                        con transporte propio, es buena idea tener un plan alternativo, como una aplicación de transporte compartido o un amigo que te 
                        pueda pasar a recoger en caso de emergencia.
                    </p>
    
                <strong>Si te sientes incómodo/a, vete</strong>
                    <p>
                        Nadie te obliga a seguir con una cita en la que estás incómodo/a. De hecho, te animamos a que termines la cita. Y si tu 
                        instinto te dice que algo no va bien o te sientes inseguro/a, pide al camarero que te ayude.
                    </p>
    
                <strong>Viajes LGBTQ+</strong>
                    <p>
                        Desgraciadamente, hay países en los que pertenecer al colectivo LGBTQ+ está mal visto e incluso penado por la ley. Comprueba 
                        las leyes de los países a los que vayas a viajar e investiga qué tipo de protección legal, si es que existe alguna, tendrás a 
                        tu disposición dependiendo de tu orientación sexual.
                    </p>
            </div>

            <h2>Salud sexual y consentimiento</h2>

            <div class="section-consejos">
            
                <strong>Protégete</strong>
                    <p>
                        Cuando se usan de manera habitual y correcta, los condones pueden reducir considerablemente el riesgo de contraer o 
                        contagiar infecciones de transmisión sexual tales como el VIH.
                    </p>
                
                <strong>Habla sobre ello</strong>
                    <p>
                        La comunicación lo es todo: antes de intimar físicamente con una pareja, habla sobre tus gustos sexuales, la salud sexual y 
                        las pruebas de enfermedades de transmisión sexual. Y ten en cuenta que, en algunos lugares, es un delito transmitir a 
                        sabiendas una enfermedad de transmisión sexual.
                    </p>
                
                <strong>Consentimiento</strong>
                    <p>
                        Toda actividad sexual debe iniciarse de forma consentida y debería incluir comprobaciones continuas con la pareja. La 
                        comunicación verbal puede ayudarte a ti y a tu pareja a mantener el respeto por vuestros respectivos límites. El 
                        consentimiento se puede retirar en cualquier momento; el sexo no es algo que se le deba a nadie. No sigas adelante si tu 
                        pareja parece inseguro/a o incómodo/a, o si no es capaz de mostrar consentimiento debido al consumo de alcohol o drogas.
                    </p>
                
                <strong>Conoce tu salud</strong>
                    <p>
                        No todas las enfermedades de transmisión sexual muestran síntomas y no es nada bueno contraer este tipo de enfermedad sin
                        ser consciente de ello. Mantente al tanto de tu salud y evita la propagación de las enfermedades de transmisión sexual 
                        llevando a cabo pruebas de forma periódica.
                    </p>
            </div>      
        </div>
    </main>

    <%- include('footer'); %>
