<%- include('head'); %> 
    <title>Form</title>
</head>
    <body>
        <%- include('header'); %> 
        <div id="main_contacto">
            <form action="">
                <h2>CONTACTANOS</h2>
                <input type="text" name="Nombre" placeholder="Nombre">
                <input type="text" name="Correo" placeholder="Correo">
                <input type="text" name="Telefono" placeholder="Teléfono">
                <textarea name="mensaje" placeholder="Escriba aquí su problema"></textarea>
                <input type="button" value="ENVIAR" id="boton">
            </form>
        </div>
        <%- include('footer'); %> 
    </body>
</html>