<%- include('head'); %>
    <title>Filtro</title>
</head>
<body>
    <%- include('header'); %> 
    <aside class="filtro">
        <h1>Filtro</h1>
            <p><h2>Edad</h2><br>
                <input type="checkbox" name="casilla">18-20
                <input type="checkbox" name="casilla">20-30
                <input type="checkbox" name="casilla">30-40
                <input type="checkbox" name="casilla">40-50
                <input type="checkbox" name="casilla">50-60
                <input type="checkbox" name="casilla">60-70
                <input type="checkbox" name="casilla">70-80
                <input type="checkbox" name="casilla">80-90
                <input type="checkbox" name="casilla">90-100
                <input type="checkbox" name="casilla">100-110
        
            <p><h2>Pais</h2><input type="text" name="pais"></p>
            <p><h2>Ciudad</h2><input type="text" name="ciudad"></p>
            <p><h2>Sexo</h2><br>
                <input type="checkbox" name="casilla">Hombre
                <input type="checkbox" name="casilla">Mujer
                <input type="checkbox" name="casilla">No binario
            </p>
            <p><h2>Orientacion sexual</h2><br>
                <input type="checkbox" name="casilla">Heterosexual
                <input type="checkbox" name="casilla">Gay
                <input type="checkbox" name="casilla">Lesbiana
                <input type="checkbox" name="casilla">Asexual
                <input type="checkbox" name="casilla">Pansexual
            
            <p><h2>Aficiones</h2><br>
                <input type="checkbox" name="casilla">Cantar
                <input type="checkbox" name="casilla">Cine
                <input type="checkbox" name="casilla">Caminar
                <input type="checkbox" name="casilla">Video juegos
                <input type="checkbox" name="casilla">Cocinar<br>
                <input type="checkbox" name="casilla">Leer
                <input type="checkbox" name="casilla">Musica
                <input type="checkbox" name="casilla">Correr
                <input type="checkbox" name="casilla">Deportes
                <input type="checkbox" name="casilla">Bailar<br>
                <input type="checkbox" name="casilla">Fiesta
                <input type="checkbox" name="casilla">Nadar
                <input type="checkbox" name="casilla">Animales
                <input type="checkbox" name="casilla">Naturaleza
                <input type="checkbox" name="casilla">Piano<br>
                <input type="checkbox" name="casilla">Moda
                <input type="checkbox" name="casilla">Cazar
                <input type="checkbox" name="casilla">Comer
                <input type="checkbox" name="casilla">Bucear
                <input type="checkbox" name="casilla">Futbol<br>
                <input type="checkbox" name="casilla">Viajar
                <input type="checkbox" name="casilla">Dibujar
                <input type="checkbox" name="casilla">Navegar
                <input type="checkbox" name="casilla">Yoga<br>
                <input type="checkbox" name="casilla">Ir al Gym
                <input type="checkbox" name="casilla">Pescar
                <input type="checkbox" name="casilla">Ir a la playa
                <input type="checkbox" name="casilla">Escribir
            </p>
    </aside>
    <main>
     
    </main>

    <%- include('footer'); %>
</body>
</html>