<%- include('head'); %>
    <title>Filtro</title>
</head>
<body>
    <%- include('header'); %> 
    <div class="cajafiltro">
        <div class="main_filtro1"><main></main></div>
        <div class="filtro">
            <aside>
                <p><h1>Filtro</h1></p><br>
                    <p><h3>Edad</h3><br>
                        <input type="checkbox" name="casilla">18-20
                        <input type="checkbox" name="casilla">20-30
                        <input type="checkbox" name="casilla">30-40
                        <input type="checkbox" name="casilla">40-50
                        <input type="checkbox" name="casilla">50-60
                        <input type="checkbox" name="casilla">60-70
                        <input type="checkbox" name="casilla">70-80
                        <input type="checkbox" name="casilla">80-90
                        <input type="checkbox" name="casilla">90-100
                        <input type="checkbox" name="casilla">100-110
                
                    <p><h3>Pais</h3><input type="text" name="pais"></p>
                    <p><h3>Ciudad</h3><input type="text" name="ciudad"></p>
                    <p><h3>Sexo</h3><br>
                        <input type="checkbox" name="casilla">Hombre
                        <input type="checkbox" name="casilla">Mujer
                        <input type="checkbox" name="casilla">No binario
                    </p>
                    <p><h3>Orientacion sexual</h3><br>
                        <input type="checkbox" name="casilla">Heterosexual
                        <input type="checkbox" name="casilla">Gay
                        <input type="checkbox" name="casilla">Lesbiana
                        <input type="checkbox" name="casilla">Asexual
                        <input type="checkbox" name="casilla">Pansexual
                    
                    <p><h3>Aficiones</h3><br>
                        <input type="checkbox" name="casilla">Cantar
                        <input type="checkbox" name="casilla">Cine
                        <input type="checkbox" name="casilla">Caminar
                        <input type="checkbox" name="casilla">Video juegos
                        <input type="checkbox" name="casilla">Cocinar<br>
                        <input type="checkbox" name="casilla">Leer
                        <input type="checkbox" name="casilla">Musica
                        <input type="checkbox" name="casilla">Correr
                        <input type="checkbox" name="casilla">Deportes
                        <input type="checkbox" name="casilla">Bailar<br>
                        <input type="checkbox" name="casilla">Fiesta
                        <input type="checkbox" name="casilla">Nadar
                        <input type="checkbox" name="casilla">Animales
                        <input type="checkbox" name="casilla">Naturaleza
                        <input type="checkbox" name="casilla">Piano<br>
                        <input type="checkbox" name="casilla">Moda
                        <input type="checkbox" name="casilla">Cazar
                        <input type="checkbox" name="casilla">Comer
                        <input type="checkbox" name="casilla">Bucear
                        <input type="checkbox" name="casilla">Futbol<br>
                        <input type="checkbox" name="casilla">Viajar
                        <input type="checkbox" name="casilla">Dibujar
                        <input type="checkbox" name="casilla">Navegar
                        <input type="checkbox" name="casilla">Yoga<br>
                        <input type="checkbox" name="casilla">Ir al Gym
                        <input type="checkbox" name="casilla">Pescar
                        <input type="checkbox" name="casilla">Ir a la playa
                        <input type="checkbox" name="casilla">Escribir
                    </p>
            </aside>
        </div>

        <div class="main_filtro2">
            <main>
                <p>Resultado del filtro</p>
            </main>
        </div>
    </div>

    <%- include('footer'); %>
</body>
</html>