<%- include('head'); %>
    <title>Filtro</title>
</head>
<body>
    <%- include('header'); %> 
    <main class="filtro">
        
    </main>

    <%- include('footer'); %>

    <script src="../public/js/menu.js"></script>
    <script src="../public/js/popup.js"></script>
    <script src="../public/js/main.js"></script>
</body>
</html>