        <footer>
            <div class="footer">
                <div class="contacto">
                    <a href="#" class="button-popup-contactanos" id="button-popup-contactanos">Contactanos</a>
                </div>

                <div class="social_media">
                    
                    <div><a href="https://es-es.facebook.com/" class="facebook" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a></div>

                    <div> <a href="https://www.instagram.com/" class="instragram" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a></div>

                    <div><a href="https://twitter.com/?lang=es" class="twitter" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a></div>

                    <div><a href="https://www.tiktok.com/es/" class="tiktok" target="_blank">
                        <i class="fab fa-tiktok"></i>
                    </a></div>
                    
                </div>
                
                <div class="consejos">
                    <a href="./consejos_seguridad">Consejos de seguridad</a><br>
                    <p>Copyright © 2022 - 365</p>
                </div>
            </div>
        </footer>


        <script src="/js/menu.js"></script>
        <script src="/js/validacion-form.js"></script>
        <script src="/js/popup.js"></script>
    </body>
</html>