<%- include('head'); %> 
    <title>Form</title>
</head>
    <body>
        <%- include('header'); %> 
        <div class="formulario">
            <h1>Registrese</h1>
             <p>Orientacion sexual: <select>
                <option>Heterosexual</option>
                <option>Gay</option>
                <option>Lesbiana</option>
                <option>Asexual</option>
                <option>Pansexual</option>
                </select>
             
            <input  class="continuar" type="submit" value="Continuar">
        </div>
        <%- include('footer'); %> 
    </body>
</html>