<%- include('head'); %> 
    <title>Form</title>
</head>
    <body>
        <div class="contenedor">
            <button id="btn-abrir-popup" class="btn-abrir-popup">Log In</button>
        </div>

        <div class="overlay" id="overlay">
            <div class="popup" id="popup">
                <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                <h3>REGISTRATE</h3>
                <h4>¡Y podrás comentar en nuestro foro!</h4>
                <form action="">
                    <div class="contenedor-inputs">
                        <input type="text" placeholder="Nombre completo">
                        <input type="text" placeholder="Nombre de usuario">
                        <input type="email" placeholder="Contraseña">
                        <input type="email" placeholder="Mail">
                    </div>
                    <input type="submit" class="btn-submit" value="Log In">
                </form>
            </div>
        </div>

        <script src="assets/js/popup.js"></script>
    </body>
</html>