<%- include('head'); %> 
    <title>Form</title>
</head>
    <body>
        <%- include('header'); %> 
        <div class="formulario">
            <h1>Iniciar Sesión</h1>
             <p>Correo: <input type="text" name="nombre"></p>
             <p>Contraseña: <input type="text"name="apellidos"></p>
             <h4>¿Has olvidado tu contraseña?</h4>
             <h4><a href="https://www.google.com">RECUPERAR</a></h4>
             
                 <input  class="continuar" type="submit" value="Continuar">
                 <a href="./registrarse 2.html" class="continuar">Continuar</a>
        </div>
        <%- include('footer'); %> 
    </body>
</html>