<%- include('head'); %> 
    <title>Form</title>
</head>
    <body>
        <div class="botones">
            <div class="contenedor">
                <button id="btn-abrir-popup" class="btn-abrir-popup">Log In</button>
            </div>
        
            <div class="overlay" id="overlay">
                <div class="popup" id="popup">
                    <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                    <h3>REGISTRATE</h3>
                    <h4>¡Y podrás acceder a toda nuestra web!</h4>
                    <form action="">
                        <div class="contenedor-inputs">
                            <input type="text" placeholder="Nombre">
                            <input type="text" placeholder="Apellidos">
                            <input type="email" placeholder="Email">
                            <input type="email" placeholder="Teléfono">
                        </div>
                        <input type="submit" class="btn-submit" value="Continuar">
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>