<%- include('head'); %> 
    <title>Form</title>
</head>
    <body>
        <%- include('header'); %> 
        <div class="formulario">
            <h1>Registrese</h1>
                <p>Pais: <input type="text" name="pais"></p>
                <p>Ciudad: <input type="text" name="ciudad"></p>
                <p>Sexo: <select>
                    <option>Hombre</option>
                    <option>Mujer</option>
                    <option>No binario</option>
                    </select>
                </p>
                <button onclick="location.href='/form3.ejs'">Continuar</button>

        </div>
        <%- include('footer'); %> 
    </body>
</html>