<%- include('head'); %> 
    <title>Form</title>
</head>
    <body>
        <%- include('header'); %> 
        <div class="main_form">
            <div class="formulario">
                <h1>Registrese</h1>
                <p>Nombre: <input type="text" name="nombre"></p>
                <p>Apellidos:<input type="text"name="apellidos"></p>
                <p>Email: <input type="email" name="email"></p>
                <p>Telefono: <input type="tel" name="telefono"></p>
                
                <button onclick="location.href='/form2.ejs'">Continuar</button>
        </div>
        <%- include('footer'); %> 
    </body>
</html>