<header>
    <div id="menu">
        <div class="logo">
            <img src="../assets/img/Logo_365-removebg-preview.png">
        </div>
        
        <nav>
            <ul>
                <li><a href="./index.ejs">Inicio</a></li>
                <li><a href="./filtro.ejs">Filtro</a></li>
                <li><a href="./users.ejs">Usuarios</a></li>
                <li><a href="./normas.ejs">Normas</a></li>    
            </ul>
        </nav>
    </div>
</header>