<header>
    <nav class="menu">
        <div class="logo">
            <img src="/imagenes/Logo_365-removebg-preview.png">
        </div>
        <button class="toggle"><i class="fa-solid fa-bars"></i></button>
        <ul class=" nav-menu menu_visible">
            <li><a href="/">Inicio</a></li>
            <li><a href="filtro.ejs">Filtro</a></li>
            <li><a href="users.ejs">Usuarios</a></li>
            <li><a href="normas.ejs">Normas</a></li>
        </ul>
    </nav>
</header>