        <header class="header">
            <nav class="nav">
                <img src="/imagenes/Logo_365-removebg-preview.png" class="logo nav-link">
                <button class="nav-toggle"><i class="fa-solid fa-bars"></i></button>
                <ul class="nav-menu nav-menu_visible">
                    <li class="nav-menu-item "><a href="/" class="nav-menu-link nav-link">Inicio</a></li>
                    <li class="nav-menu-item"><a href="filtro.ejs" class="nav-menu-link nav-link">Filtros</a></li>
                    <li class="nav-menu-item"><a href="user.ejs" class="nav-menu-link nav-link">Usuarios</a></li>
                    <li class="nav-menu-item"><a href="normas.ejs" class="nav-menu-link nav-link">Normas</a></li>

                </ul>
            </nav>

        </header>
    