        <header class="header">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <a href="#" class="enlace">
                    <img src="/imagenes/Logo_365-removebg-preview.png"  class="logo">
                </a>
                <ul>
                    <li><a class="active" href="/">Inicio</a></li>
                    <li><a href="filtro">Filtro</a></li>
                    <li><a href="users">Usuarios</a></li>
                    <li><a href="normas">Normas</a></li>
                    
                </ul>
                <button class="user"><a href="user" class="hola"><i class="fa-solid fa-user"></i></a></button>
            </nav>

        </header>
    