<%- include('head'); %>
    <title>365</title>
</head> 
    <body>
        <%- include('header'); %> 
        
        <main class="main_principal">
            <div class="descripcion">
                <p>Gente adulta con todo tipo de historias y experiencias previas aprovecha para hacer amigos, vivir aventuras… ¡y lo que surja!</p>
                <p>
                    ¿Quieres empezar una relación? ¡Hecho! ¿Quieres hacer nuevos amigos? Ningún problema. ¿Eres nuevo en la facultad y quieres aprovechar al máximo tu experiencia en la uni? Citas Coders es para ti.</p>
                <p>Tienes millones de personas solteras a tu alcance… ¡y todas quieren conocer a gente como tú! Pertenezcas donde pertenezcas eres bienvenido .</p>
            </div>
            <div class="botones">
                <div class="contenedor">
                    <button id="btn-abrir-popup" class="btn-abrir-popup">Log In</button>
                </div>
            
                <div class="overlay" id="overlay">
                    <div class="popup" id="popup">
                        <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                        <h3>REGISTRATE</h3>
                        <h4>¡Y podrás acceder a toda nuestra web!</h4>
                        <form action="">
                            <div class="contenedor-inputs">
                                <input type="text" placeholder="Nombre">
                                <input type="text" placeholder="Apellidos">
                                <input type="email" placeholder="Email">
                                <input type="email" placeholder="Teléfono">
                            </div>
                            <input type="submit" class="btn-submit" value="Continuar">
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <%- include('footer'); %> 
    </body>
</html>