<%- include('head'); %>
    <title>365</title>
</head> 
    <body>
        <%- include('header'); %> 
        
        <main class="main_principal">
            <div class="descripcion">
                <p>Gente adulta con todo tipo de historias y experiencias previas aprovecha para hacer amigos, vivir aventuras… ¡y lo que surja!</p>
                <p>
                    ¿Quieres empezar una relación? ¡Hecho! ¿Quieres hacer nuevos amigos? Ningún problema. ¿Eres nuevo en la facultad y quieres aprovechar al máximo tu experiencia en la uni? Citas Coders es para ti.</p>
                <p>Tienes millones de personas solteras a tu alcance… ¡y todas quieren conocer a gente como tú! Pertenezcas donde pertenezcas eres bienvenido .</p>
            </div>
            <div class="botones">
                <button onclick="location.href='/form.ejs'">Registrarse</button>
            </div> 
        </main>

        <div class="popup-container">
            <a href="#" class="button-popup" id="button-popup">Iniciar sesión</a>
        </div>
      
        <div class="popup-login">
            <div class="popup-content">
                <img src="/imagenes/user.png" alt="User">
                <img src="/imagenes/close.png" alt="close button" class="close-popup">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="/users/user" class="button-popup2">Iniciar sesión</a>
            </div>
        </div>
          
        <%- include('footer'); %> 
    </body>
</html>