<%- include('head'); %>
    <title>365</title>
</head> 
    <body class="principal">
        <%- include('header'); %> 
        
        <main class="main_principal">

            <div class="texto-pantalla-principal">
                <p>DESLIZA HACIA LA DERECHA...<br>¡ENCUENTRA EL AMOR!
                </p>
            </div>

            <div class="popup-container">
                <a href="#" class="button-popup" id="button-popup">Iniciar sesión</a>
                <a href="#" class="button-popup" id="button-popup-singup">Registrarse</a>
            </div>

            <div class="descripcion">
                <p>Gente adulta con todo tipo de historias y experiencias previas aprovecha para hacer amigos, vivir aventuras… ¡y lo que surja!</p>
                <p>
                ¿Quieres empezar una relación? ¡Hecho! ¿Quieres hacer nuevos amigos? Ningún problema. ¿Eres nuevo en la facultad y quieres aprovechar al máximo tu experiencia en la uni? Citas Coders es para ti.</p>
                <p>Tienes millones de personas solteras a tu alcance… ¡y todas quieren conocer a gente como tú! Pertenezcas donde pertenezcas eres bienvenido .</p>
                </div>
            
            <div class="opiniones-titulo">
                <p>OPINIONES DE<br>NUESTROS USUARIOS</p>
            </div>

            <div class="opiniones">
                <p>Sebastián Trujillo:<br>"Gracias a esta app encontré el amor" <br>Puntuación: ★★★★☆</p>
            </div>

            <div class="opiniones">
                <p>Andrea Bernardino:<br>"La mejor aplicación de citas" <br>Puntuación: ★★★★★</p>
            </div>

            <div class="opiniones">
                <p>Guillem Ruiz:<br>"¡No puedo iniciar sesión! Pero buena app" <br>Puntuación: ★☆☆☆☆</p>
            </div>

            <div class="opiniones">
                <p>Caterina Caterina:<br>"Supera a toda la competencia" <br>Puntuación: ★★★★★</p>
            </div>

        </main>

        <div class="popup-login">
            <div class="popup-content">
                <img src="/imagenes/user.png" alt="User">
                <img src="/imagenes/close.png" alt="close button" class="close-popup">
                <form action ="/users/user" method="post">
                    <label for="email-login">Email:</label><p class="error-login" id="email-login-error"></p>
                    <input class="input-login" type="email" name="email" id="email-login" placeholder="Email">
                    <label for="password-login">Contraseña:</label><p class="error-login" id="password-login-error"></p>
                    <input class="input-login" type="password" name="password" id="password-login" placeholder="Password">
                    <!--Opción para que se vea la contraseña-->
                    <span class="ojitos" onclick="mostrarPassword()">
                        <i id="mostrar2" class="fa fa-eye" title="Mostrar Contraseña"></i><!--Para mostrarla-->
                        <i id="ocultar2" class="fa fa-eye-slash" title="Ocultar Contraseña"></i><!--Para ocultarla-->
                    </span>
                    <input type="submit" class="login button-popup2" id="boton-iniciar" value ="Iniciar sesión">
                </form>
            </div>
        </div>

        <!--Popup Singup-->
        <div class="popup-singup">
            <div class="popup-content-singup">
                <img src="/imagenes/close.png" alt="close button" class="close-popup-singup">
            
                    <header>
                        <h1>Registro</h1>
                        <div class="progress-bar">
                            <div class="paso">
                                <p>Básico</p>
                                <div class="num">
                                    <span>1</span>
                                </div>
                                <div class="check fas fa-check"></div>
                            </div>
                             <div class="paso">
                                <p>Lugar</p>
                                <div class="num">
                                    <span>2</span>
                                </div>
                                <div class="check fas fa-check"></div>
                            </div>
                            <div class="paso">
                                <p>Aficiones</p>
                                <div class="num">
                                    <span>3</span>
                                </div>
                                <div class="check fas fa-check"></div>
                            </div>
                            <div class="paso">
                                <p>Usuario</p>
                                <div class="num">
                                    <span>4</span>
                                </div>
                                <div class="check fas fa-check"></div>
                            </div>
                        </div>
                    </header>
                    <div class="form-principal">
                        <form action="/bienvenida" method="post" name="form-registro">
            
                            <!--PÁGINA 1-->
                            <div class="pagina movPag">
                                <div class="campo">
                                        <label for="nombres">Nombre: </label><p class="error" id="nombres-error"></p>
                                        <input type="text" id="nombres" placeholder="Nombre" name="nombre">
                                </div>
            
                                <div class="campo">
                                    
                                        <label for="fechaNac">Nacimiento:</label><p class="error" id="fechaNac-error"></p>
                                        <input type="date" id="fechaNac" max="2004-12-31" name="fecha_nacimiento"> 
                                        <!--max = fecha pone un máximo de fecha al calendario. Útil para límites
                                        de edad.
                                            
                                        value = fecha, pone una fecha por defecto que se muestre cada vez que se
                                        active. Ejemplo: value="1994-09-26" -->
                                </div>

                                <div class="campo">
                                    
                                        <label for="numTel">Teléfono:</label>
                                        <input type="text" id="numTel" placeholder="Telefono" name="telefono"> <p class="error" id="numTel-error" ></p>
                                </div>
            
                                <div class="campo sigPag">
                                    <button>Siguiente</button>
                                </div>
                            </div>

                            <!--PÁGINA 2-->
                            <div class="pagina">
                                <div class="campo">
                                        <label for="ciudad">Ciudad:</label><p class="error" id="ciudad-error"></p>
                                        <input type="text" id="ciudad" placeholder="Ciudad" name="ciudad">
                                </div>

                                <div class="campo">
                                    <label for="pais">País:</label><p class="error" id="pais-error"></p>
                                    <input type="text" id="pais" placeholder="País" name="pais">
                                </div>
            
                                <div class="campo">
                                    <label for="sexo">Sexo:</label><p class="error" id="sexo-error"></p>
                                    <select id="sexo" name="sexo">
                                        <!--El primer option es para que una vez elegido el sexo, no se quede guardado aunque recarge
                                        la página, sino que vuelva al valor por defecto de escoja una opción.
                                        Además, el disable selected es para que no sea una opción a elegir, sino lo primero que sale-->
                                        <option value="-1" disable selected>Elige una opción</option>
                                        <option value="Hombre">Hombre</option>
                                        <option value="Mujer">Mujer</option>
                                        <option value="No binario">No binario</option>
                                        <option value="Transexual">Transexual</option>
                                    </select>
                                </div>
            
                                <div class="campo botones-form botones-2">
                                    <!--dos  clases: volver-pag1 para el js y volver para el css-->
                                    <button class="volver-pag1 volver">Atrás</button>
                                    <button class="adelante-pag3 adelante">Siguiente</button>
                                </div>
                            </div>
            
                            <!--PÁGINA 3-->
                            <div class="pagina">
                                <div class="campo">
                                    <label for="orientacion-sexual">Sexualidad:</label><p class="error" id="orientacion-sexual-error"></p>
                                    <select id="orientacion-sexual" name="orientacion_sexual">
                                        <option value="-1" disable selected>Elige una opción</option>
                                        <option value="Heterosexual">Heterosexual</option>
                                        <option value="Gay">Gay</option>
                                        <option value="Lesbiana">Lesbiana</option>
                                        <option value="Asexual">Asexual</option>
                                        <option value="Pansexual">Pansexual</option>
                                    </select>
                                </div>
            
                                <div class="campo">
                                    <div class="label">
                                        AFICIONES: <p class="error" id="aficiones-error"></p><br>
                                            <input value="viajar" type="checkbox" id="viajar" name="aficiones">
                                            <label for="viajar" class="label-aficiones">Viajar</label>
                                            <input value="bailar" type="checkbox" id="bailar" name="aficiones">
                                            <label for="bailar" class="label-aficiones">Bailar</label>
                                            <input value="deportes" type="checkbox" id="deportes" name="aficiones">
                                            <label for="deportes" class="label-aficiones">Deportes</label><br>
                                            <input value="cantar" type="checkbox" id="cantar" name="aficiones">
                                            <label for="cantar" class="label-aficiones">Cantar</label>
                                            <input value="videojuegos" type="checkbox" id="videojuegos" name="aficiones">
                                            <label for="videojuegos" class="label-aficiones">Videojuegos</label>
                                            <input value="musica" type="checkbox" id="musica" name="aficiones">
                                            <label for="musica" class="label-aficiones">Música</label><br>
                                            <input value="cocinar" type="checkbox" id="cocinar" name="aficiones">
                                            <label for="cocinar" class="label-aficiones">Cocinar</label>
                                            <input value="leer" type="checkbox" id="leer" name="aficiones">
                                            <label for="leer" class="label-aficiones">Leer</label>
                                            <input value="naturaleza" type="checkbox" id="naturaleza" name="aficiones">
                                            <label for="naturaleza" class="label-aficiones">Naturaleza</label><br>
                                            <input value="peliculas" type="checkbox" id="peliculas" name="aficiones">
                                            <label for="peliculas" class="label-aficiones">Películas</label>
                                            <input value="animales" type="checkbox" id="animales" name="aficiones">
                                            <label for="animales" class="label-aficiones">Animales</label>
                                    </div>
                                </div>
            
                                <div class="campo botones-form botones-3">
                                    <!--dos  clases: volver-pag1 para el js y volver para el css-->
                                    <button class="volver-pag2 volver">Atrás</button>
                                    <button class="adelante-pag4 adelante">Siguiente</button>
                                    
                                </div>
                            </div>
            
                            <!--PÁGINA 4-->
                            <div class="pagina">
                                <div class="campo">
                                    <label for="email">Email:</label><p class="error" id="email-error"></p>
                                    <input type="text" id="email" placeholder="Email" name="email">
                                </div>
            
                                <div class="campo">
                                    <label for="password">Contraseña:</label><p class="error" id="password-error"></p>
                                    <input type="password" id="password" placeholder="Contraseña" name="password">
                                    <!--Opción para que se vea la contraseña-->
                                    <span class="ojos" onclick="mostrarPassword()">
                                        <i id="mostrar" class="fa fa-eye" title="Mostrar Contraseña"></i><!--Para mostrarla-->
                                        <i id="ocultar" class="fa fa-eye-slash" title="Ocultar Contraseña"></i><!--Para ocultarla-->
                                    </span>
                                </div>
                                
                                <div class="campo">
                                    <label for="imagen">Imagen de Perfil:</label><p class="error" id="imagen-error"></p>
                                    <input type="file" id="imagen" name="imagen">
                                </div>
                                <div class="campo botones-form botones-4">
                                    <!--dos  clases: volver-pag1 para el js y volver para el css-->
                                    <button class="volver-pag3 volver">Atrás</button>
                                    <input class="fin" type="submit" value="Finalizar"> 
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>

        <div class="popup-contactanos">
            <div class="popup-content-contactanos">
                <h2>CONTACTANOS</h2>
                <img src="./imagenes/close.png" alt="close" class="close-popup-contactanos">
                <input type="text" name="Nombre" placeholder="Nombre">
                <input type="text" name="Correo" placeholder="Correo">
                <input type="text" name="Telefono" placeholder="Teléfono">
                <textarea name="mensaje" placeholder="Escriba aquí su problema"></textarea>
                <input type="button" value="ENVIAR" id="boton">
            </div>
        </div>
 
        <%- include('footer'); %> 
    </body>
</html>