<%- include('head'); %>
    <title>Normas</title>
</head> 
<body>
    <%- include('header'); %> 

    <main class="main_normas">
        <h1>Reglas de la comunidad</h1>
        
        <div class="normas">
            <h2>En 365, <u>no</u> se permite:</h2>

            <div class="section-normas">
                <strong>Mensajes de acoso, amenazas o intimidación</strong>
                    <p>
                        En 365 no toleramos el acoso, hostigamiento, amenazas o intimidación, por lo que no envíes mensajes abusivos o de acoso a ningún otro usuario, ni animes a otros a hacerlo. Se entiende
                        por acoso, cuando una persona hostiga, persigue o molesta a otra, una conducta que implica generar una incomodidad o disconformidad en el otro.<br>
                            
                        Tales mensajes incluyen el envío de cualquier contenido sexual no solicitado por parte de tus matches. 
                    </p>
                   
                <strong>Desnudos y contenidos sexuales</strong>
                    <p>
                        Esto no significa ocultar tu lado picarón y sensual, simplemente te pedimos que tus fotos sean apropiadas para todos los públicos, sin desnudos ni
                        contenido sexual explícito.<br>

                        Y por favor, guardad los deseos sexuales explícitos para los chats en privado y no los pongáis en vuestros perfiles. Lo hot hot para privado, básicamente.
                            
                        <br> Este tipo de contenido puede ser motivo de expulsión de nuestro sitio web, una vez que las investigaciones se hayan llevado a cabo.
                    </p>
                    
                <strong>Violencia y daños físicos</strong>
                    <p>
                        No toleramos el contenido violento, explícito o sangriento, ni cualquier acción o contenido que abogue por la violencia o que amenace con esta, sea como sea, incluidas las amenazas de terrorismo o la promoción de actos terroristas.<br>
                        Los ataques físicos, <b>la coacción o cualquier acto violento están estrictamente prohibidos.</b><br>

                        Tampoco se admite contenido que abogue por el suicidio o los daños autoinfligidos, o los glorifique. En estos casos, no dudes en contactar con nosotros para ayudarte o, si sabes de algún caso de algún usuario, nos avises para ponernos en contacto con el usuario y tomar
                        las medidas necesarias para ayudarle.
                    </p>
                    
                <strong>Incitación al odio</strong>
                    <p>
                        Cualquier contenido que promueva, implique o justifique el racismo, la intolerancia o la violencia hacia individuos o grupos basándose en factores 
                        como, entre otros, la raza, la etnia, la religión, discapacidades, género, edad, nacionalidad, sexualidad o identidad de género, queda 
                        estrictamente prohibido.
                    </p>
                    
                <strong>Prostitución y trata de personas</strong>
                    <p>
                        Promover, publicitar o solicitar servicios sexuales, la trata de personas o cualquier otro acto sexual no consensuado queda estrictamente prohibido 
                        y conllevará el bloqueo inmediato de tu cuenta.
                    </p>
                    
                <strong>Menores de edad</strong>
                    <p>
                        365 es para mayores de 18 años. Por esta razón no permitimos el uso de fotos de menores de edad sin acompañantes. Si quieres 
                        publicar fotos de tus hijos, asegúrate de salir tú también en las fotos.<br>
                            
                        Si ves un perfil que incluya a un menor sin acompañar, fomente causar daños a un menor o represente a un menor con un tono sexual
                        o sugerente, notifícalo de inmediato. 
                    </p>
                    
                <strong>Información privada</strong>
                    <p>
                        No des tus datos privados o los de alguna otra persona a la ligera. Con datos privados nos referimos, por ejemplo, a tu DNI o tu número de la 
                        seguridad social, pasaportes, contraseñas, información financiera, números de teléfono, direcciones de correo electrónico y direcciones del 
                        domicilio o del trabajo. <br>

                        Ojo, no decimos que no los compartas si quieres, sólo que nosotros no nos hacemos responsables de tal acto. 
                    </p>
                    
                <strong>Spam o promoción de servicios</strong>
                    <p>
                        No aceptamos a gente que utilice nuestro sitio web para dirigir a los usuarios a sitios web externos a través de un enlace o de cualquier otra 
                        forma.<br>

                        Puedes compartir cosas con otros usuarios, pero no publicitar otros sitios web o utilizar nuestro sitio para promocionar tu empresa.
                    </p>
                    
                <strong>Estafas</strong>
                    <p>
                        En 365 tenemos tolerancia 0 con los usuarios que intenten estafar a otros a través de nuestro sitio web. Entiéndase por estafa cualquier intento 
                        de o obtener la información privada de otros usuarios para llevar a cabo actividades ilegales o fraudulentas quedará bloqueado. 
                        Cualquier usuario que comparta su propia información financiera (PayPal, Venmo, etc.) a fin de recibir dinero de otros usuarios, también quedará 
                        bloqueado.<br>
                            
                        Las cuentas de usuario que detectemos como bots serán inmediatamente eliminadas y bloqueadas. 
                    </p>
                   
                <strong>Suplantación</strong>
                    <p>
                        ¡Sé tú mismo! No finjas ser otra persona.<br>

                        No suplantes a otra persona ni finjas pertenecer, estar conectado o asociado con cualquier otra persona o entidad. En este apartado se incluyen 
                        las cuentas a modo de parodia. Aunque nos pueda parecer divertida la cuenta falsa de Pablo Casado que has creado, tú no eres Pablo Casado. 
                    </p>
                    
                <strong>Una persona, una cuenta</strong>
                    <p>
                        Las cuentas de 365 no pueden tener varios propietarios, así que no crees una cuenta con tu amigo o con tu pareja. Además, 
                        te pedimos que no mantengas múltiples cuentas. <br>
                            
                        Si detectamos un conflicto en tu cuenta relacionado con este punto, se te bloquearán y eliminarán todas las cuentas.
                    </p>
                    
                <strong>Inactividad de cuenta</strong>
                    <p>
                        Si no inicias sesión en tu cuenta durante 2 años, es probable que borremos tu cuenta por inactividad.
                    </p>
            </div>
        </div>

        <div class="denuncias">
            <h2>DENUNCIA CUALQUIER CONDUCTA INAPROPIADA</h2>
            <p>
                En tu <b>lista de matches</b>, tendrás la opción de denunciar un usuario tocando el botón <b>"Denunciar"</b>. Esto nos enviará una rápida denuncia confidencial.
                
                Si es necesario, ponte en contacto con las autoridades locales <a href="https://www.policia.es/_es/index.php">aquí</a><br>
                
                También te dejamos un enlace a nuestra página con consejos de seguridad para citas, ya sean on-line o presenciales:
                <a href="./consejos_seguridad">CONSEJOS DE SEGURIDAD PARA CITAS</a>
            </p>
        </div>
    </main>

    <%- include('footer'); %>
</body>
</html>