<%- include('head'); %>
    <title>Usuarios</title>
</head> 
<body>
    <%- include('header'); %> 

    <main>
        <div class="usuarios">

        </div>
    </main>

    <%- include('footer'); %>

    <script src="./data/usuarios.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>