<%- include('head'); %>
    <title>Usuario</title>
</head> 
<body>
    <%- include('header'); %> 
    <main>
        <div class="botonesMatch">
            <button class="funcionMatch">TRUE</button>
            <button class="funcionMatch">FALSE></button>
        </div>
    </main>

    <%- include('footer'); %>

    <script src="./data/usuarios.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>