<%- include('head'); %>
    <title>Usuarios</title>
</head> 
<body>
    <%- include('header'); %> 

    <main>
        <div class="usuarios">

        </div>
    </main>

    <%- include('footer'); %>
    
</body>
</html>