* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
nav{
    background: #d787eb;
    height: 110px;
    width: 100%;
}

nav ul{
    text-align: center;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}

nav ul li a{
    color: #461453;
    font-size: 30px;
    padding: 7px 13px;
    font-family: 'Pacifico';
}
nav ul li a:hover{
    color: #9c15be;
    transition: 0.4s;
}

.checkbtn{
    font-size: 30px;
    color: #461453;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;
}
   
.user{
    font-size: 27px;
    background: none;
    border: none;
    padding: 0 20px;
    line-height: 60px;
    float: right;
    margin-top: -78px;
    margin-right: 35px;
    padding: 0 80px;
}
.hola:hover{
    color: #9c15be;
    transition: 0.3s;
}
.hola{color:#461453;
}
.enlace{
    position: absolute;
    padding: 10px 80px;
}
.logo{
    height: 100px;
}


/*principal*/
.main_principal {
    background-image: url("/imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion {
    margin: 20px;
    width: 50%;
    padding: 20px;
    font-size: 24px;
    background-color: #461453a2;
    color: #d787eb;
    font-family: 'Pacifico';
    border-radius: 28px;
}

.botones {
    margin-bottom: 20px;
}

button, .button{
    padding: 8px;
    background: #461453;
    font-family: "pacifico";
    font-size: 15px;
    text-align: center;
    border: 2px solid #d787eb;
    border-radius: 15px;
    color: #d787eb;
    box-shadow: 6px 6px 29px -4px #461453;
    transition: 0.3s;
    text-decoration: none;
}

button:hover, .button:hover{
    color:#461453;
    background-color: #e294f5;
}
button:last-child {
    margin-left: 30px;
}


/*Css Página normas y consejos de seguridad*/

.main_normas, .main_consejos_seguridad{
    font-family: "pacifico";
    background-color:#ecc0f8;
}

.main_consejos_seguridad{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.normas{
    margin-left: 50px;
    padding-right: 40px;
}

.main_normas h1, .main_consejos_seguridad h1{
    text-align: center;
    font-size: 50px;
    color:#461453;
}

.normas h2, .main_consejos_seguridad h2{
    color:#461453;
    font-size: 30px;
}

.normas ul, .main_consejos_seguridad ul{
    margin-left: 50px;
    margin-right: 20px;
}

.normas strong, .main_consejos_seguridad h3{
    font-size: 20px;
    color:#9c15be;
}

.normas li{
    margin-bottom: 20px;
}

.denuncias h2{
    color:#461453;
    text-align: center;
    font-size: 30px;
}

.denuncias p{
    margin-left: 100px;   
}

.denuncias a{
    color:#9c15be;
}

.denuncias a:hover{
    color:#cf44f2;
    transition: 0.3s;
}
.denuncias a:last-child{
   text-decoration: none;
   margin-left: 10px;

}

.denuncias{
    padding-bottom: 10px;
}

/*Pop-up Iniciar sesión*/

.popup-container{
    margin-top: -60px;
    margin-bottom: 20px;
    margin-left: -180px;
    text-align: center;
  }

.button-popup, .button-popup2{
    padding: 8px;
    background: #461453;
    font-family: "pacifico";
    font-size: 15px;
    text-align: center;
    border: 2px solid #d787eb;
    border-radius: 15px;
    color: #d787eb;
    box-shadow: 6px 6px 29px -4px #461453;
    transition: 0.3s;
    text-decoration: none;
}
  
  .button-popup:hover, .button-popup2:hover {
    color:#582963;
    background-color:#a757bb;
  }
  
  .popup-login{
    background-color: #e294f549;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .popup-content{
    height: 250px;
    width: 400px;
    background-color: #e294f5;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .popup-content img:first-child{
    width: 14%;
  }
  
  .close-popup{
    width: 5%;
    position: absolute;
    top: -10px;
    right: -15px;
  }
  
  .popup-content input{
    margin: 20px auto;
    display: block;
    width: 60%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
  }



/*Formulario de la pagina de registro*/
.main_form{
    background-color: #e294f5;
}

.formulario {
    text-align: center;
    font-family: 'Pacifico';
    color: black;
    background: #e294f5;
    width: 400px;
    height: 265px;
    margin-left: 430px;
    font-size: 16px;

}

.formulario p {
    font-size: 22px;
}

.formulario h1 {
    font-size: 35px;
}

.formulario .continuar {
    font-size: 15px;
    font-family: 'Pacifico';
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 6px;
    margin-top: 8px;
}

.formulario .continuar:hover {
    color: #461453;
}

/*Formulario2 de la pagina de registro*/

.formulario2 {
    text-align: center;
    font-family: 'Pacifico';
    color: black;
    background: #e294f5;
    width: 400px;
    height: 665px;
    margin-top: 120px;
    margin-left: 430px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;

}

.formulario2 p {
    font-size: 22px;
}


.formulario2 h1 {
    font-size: 35px;
}


.formulario2 .continuar {
    font-size: 15px;
    font-family: 'Pacifico';
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 6px;
    margin-top: 8px;
}

.formulario2 .continuar:hover {
    color: #461453;
}

/*Footer*/

.footer {
    display: flex;
    background-color: #e294f5;
    font-family: 'Pacifico';
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.contacto {
    position: absolute;
    margin-left: 120px;
    margin-top: 20px;
}

.contacto a,
.consejos a {
    text-decoration: none;
    color: #461453;
    font-size: 30px;
}

.social_media {
    margin-left: 550px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.social_media a {
    text-decoration: none;
    color: #461453;
    font-size: 40px;
    padding-right: 10px;
}

.social_media a:hover,
.contacto a:hover,
.consejos a:hover {
    transition: 0.5s;
    color: #9c15be;
}

.consejos p {
    font-size: 15px;
}

.consejos {
    margin-left: 180px;
    /*para responsive 220*/
    margin-top: 10px;
    color: #461453;
}

.consejos:last-child {
    text-align: center;
}

/*Responsive header*/
@media(max-width:844px) {

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#461453;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        margin-top:30px ;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 25px;
        color: #d787eb;

    }
    nav ul li a:hover{
        color:#9c15be;
        transition: 0.4s;


    }
    #check:checked ~ ul {
        left:0;

    }


    /*Responsive formulario*/


    .formulario {
        width: 350px;
        height: 515px;
        margin-left: 20px;
        margin-top: 72px;
    }

    .formulario h1 {
        font-size: 18px;
    }

    .formulario p {
        font-size: 15px;
        margin-top: 5px;
    }

    .fomulario select option {
        font-size: 11px;
    }

    .formulario .continuar {
        font-size: 10px;
        width: 58px;
    }

    .formulario .continuar:hover {
        color: #F54D4E;
    }

    /*Responsive descripcion*/

    .descripcion {
        font-size: 15px;
        padding: 8px;
        border-radius: 15px;
    }

    /*Responsive botones*/
    .botones button a {
        font-size: 15px;
        padding: 4px;
    }

    /*Responsive Footer*/

    .contacto h2 {
        font-size: 16px;
        margin-top: 0px;
        margin-left: -32px;
    }

    .contacto p {
        font-size: 12px;
        margin-left: -32px;
    }

    .social_media a {
        font-size: 15px;
    }

    .consejos a {
        font-size: 16px;
        margin-left: -1460px;
        margin-bottom: -10cm;
    }

    .consejos p {
        font-size: 11px;
        margin-left: -1460px;
    }
}


/*Responsive general*/
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
