* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #e294f5;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0;
}

.nav-link {
    color: #461453;
    text-decoration: none;
    font-family: 'pacifico';
}

.logo {
    height: 80px;
    margin-left: 140px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
}

.nav-menu-link:hover {
    color:#461453
}

.nav-toggle {
    font-size: 40px;
    background: none;
    border: none;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}


/*principal*/
.main_principal {
    background-image: url("/imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion {
    margin: 20px;
    width: 50%;
    padding: 20px;
    font-size: 24px;
    background-color: #461453a2;
    color: #d787eb;
    font-family: 'Pacifico';
    border-radius: 28px;
}

.botones {
    margin-bottom: 20px;
}

button {
    padding: 8px;
    background: #461453;
    font-family: "pacifico";
    font-size: 25px;
    text-align: center;
    border-color: #d787eb;
    border-radius: 25px;
    color: #d787eb;
}

button:last-child {
    margin-left: 30px;
}


/*Css Página normas y consejos de seguridad*/

.main_normas, .main_consejos_seguridad{
    font-family: "pacifico";
    background-color:#ecc0f8;
}

.main_consejos_seguridad{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.normas{
    margin-left: 50px;
    padding-right: 40px;
}

.main_normas h1, .main_consejos_seguridad h1{
    text-align: center;
    font-size: 50px;
    color:#461453;
}

.normas h2, .main_consejos_seguridad h2{
    color:#461453;
    font-size: 30px;
}

.normas ul, .main_consejos_seguridad ul{
    margin-left: 50px;
    margin-right: 20px;
}

.normas strong, .main_consejos_seguridad h3{
    font-size: 20px;
    color:#9c15be;
}

.normas li{
    margin-bottom: 20px;
}

.denuncias h2{
    color:#461453;
    text-align: center;
    font-size: 30px;
}

.denuncias p{
    margin-left: 100px;   
}

.denuncias a{
    color:#9c15be;
}

.denuncias a:hover{
    color:#cf44f2;
    transition: 0.3s;
}
.denuncias a:last-child{
   text-decoration: none;
   margin-left: 10px;

}

.denuncias{
    padding-bottom: 10px;
}

/*Responsive página de consejos y normas*/


/*Formulario de la pagina de registro*/
.formulario {
    text-align: center;
    font-family: 'Pacifico';
    color: black;
    background: #e294f5;
    width: 400px;
    height: 265px;
    margin-top: 120px;
    margin-left: 430px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;

}

.formulario p {
    font-size: 22px;
}

.formulario h1 {
    font-size: 35px;
}

.formulario .continuar {
    font-size: 15px;
    font-family: 'Pacifico';
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 6px;
    margin-top: 8px;
}

.formulario .continuar:hover {
    color: #461453;
}

/*Formulario2 de la pagina de registro*/

.formulario2 {
    text-align: center;
    font-family: 'Pacifico';
    color: black;
    background: #e294f5;
    width: 400px;
    height: 665px;
    margin-top: 120px;
    margin-left: 430px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;

}

.formulario2 p {
    font-size: 22px;
}


.formulario2 h1 {
    font-size: 35px;
}


.formulario2 .continuar {
    font-size: 15px;
    font-family: 'Pacifico';
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 6px;
    margin-top: 8px;
}

.formulario2 .continuar:hover {
    color: #461453;
}

/*Pop Up Login*/

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
    line-height: 28px;
}


.contenedor .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #e294f5;
	border-radius: 3px;
    font-family: "pacifico";
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #e294f5;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
    font-family: "pacifico";
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 3px;
    font-family: "pacifico";
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

input{
	font-family: "pacifico";
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*Footer*/

.footer {
    display: flex;
    background-color: #e294f5;
    font-family: 'Pacifico';
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.contacto {
    position: absolute;
    margin-left: 120px;
    margin-top: 20px;
}

.contacto a,
.consejos a {
    text-decoration: none;
    color: #461453;
    font-size: 30px;
}

.social_media {
    margin-left: 550px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.social_media a {
    text-decoration: none;
    color: #461453;
    font-size: 40px;
    padding-right: 10px;
}

.social_media a:hover,
.contacto a:hover,
.consejos a:hover {
    transition: 0.5s;
    color: #9c15be;
}

.consejos p {
    font-size: 15px;
}

.consejos {
    margin-left: 180px;
    /*para responsive 220*/
    margin-top: 10px;
    color: #461453;
}

.consejos:last-child {
    text-align: center;
}

/*Responsive header*/
@media(max-width:844px) {

    .header {
        height: 60px;

    }

    .logo {
        height: 60px;
        font-weight: bold;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-link{
        color:#d787eb;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
        background-color:#461453;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;

    }

    .nav-menu-item {
        line-height: 70px;
        font-size: 17px;
    }

    .nav-menu-link:hover {
        color:white;
        transition: 0.5s;
    }

    .nav-toggle {
        font-size: 29px;
        display: block;
        color: #461453;
    }

    .nav-menu_visible {
        left: 0;

    }

    /*Responsive formulario*/


    .formulario {
        width: 350px;
        height: 515px;
        margin-left: 20px;
        margin-top: 72px;
    }

    .formulario h1 {
        font-size: 18px;
    }

    .formulario p {
        font-size: 15px;
        margin-top: 5px;
    }

    .fomulario select option {
        font-size: 11px;
    }

    .formulario .continuar {
        font-size: 10px;
        width: 58px;
    }

    .formulario .continuar:hover {
        color: #F54D4E;
    }

    /*Responsive descripcion*/

    .descripcion {
        font-size: 15px;
        padding: 8px;
        border-radius: 15px;
    }

    /*Responsive botones*/
    .botones button a {
        font-size: 15px;
        padding: 4px;
    }

    /*Responsive Footer*/

    .contacto h2 {
        font-size: 16px;
        margin-top: 0px;
        margin-left: -32px;
    }

    .contacto p {
        font-size: 12px;
        margin-left: -32px;
    }

    .social_media a {
        font-size: 15px;
    }

    .consejos a {
        font-size: 16px;
        margin-left: -1460px;
        margin-bottom: -10cm;
    }

    .consejos p {
        font-size: 11px;
        margin-left: -1460px;
    }
}