* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    width: 100%;
    background-color: #e294f5;
    height: 178px;
}

nav .toggle {
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    display: none;
}

@media(max-width:844px) {
      nav ul {
        flex-direction: column;
        margin-right: 20px;
    }
    nav .toggle{
        display: block;
    }
}

#menu {
    width: 80%;
    height: 150px;
    margin: auto;
}

.logo {
    width: 20%;
    height: 50px;
    float: left;
    padding-top: 10px;
}

nav {
    width: 70%;
    height: 70px;
    float: left;
    text-align: center;
    padding-top: 25px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #461453;
    font-size: 44px;
    text-decoration: none;
    font-family: 'Pacifico';
    padding-left: 24px;
    letter-spacing: 1px;
}

nav ul li a:hover {
    transition: 0.3s;
    color: white;
}


/*principal*/
.main_principal {
    background-image: url("../imagenes/imagen1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    height: 500px;
}

.descripcion {
    margin: 20px;
    padding: 30px 20%;
    font-size: 24px;
    background-color: #fe95957b;
    font-family: "Segoe UI";
    text-align: center;
    font-family: 'pacifico';
    border-radius: 28px;
}

.botones {
    display: flex;
    justify-content: space-around;
    text-shadow: 0 0 4px #461453;
    text-align: center;
}

.botones a {
    text-decoration: none;
}

button {
    padding: 8px;
    background: #e294f5;
    font-family: "pacifico";
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
    display: inline;
}

button:last-child {
    margin-left: -650px;
}

button a:hover {
    color: white;
}

/*Formulario de la pagina de registro*/
.formulario {
    text-align: center;
    font-family: 'Pacifico';
    color: black;
    background: #e294f5;
    width: 400px;
    height: 265px;
    margin-top: 120px;
    margin-left: 430px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;

}

.formulario p {
    font-size: 22px;
}

.formulario h1 {
    font-size: 35px;
}

.formulario .continuar {
    font-size: 15px;
    font-family: 'Pacifico';
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 6px;
    margin-top: 8px;
}

.formulario .continuar:hover {
    color: #461453;
}

/*Formulario2 de la pagina de registro*/

.formulario2 {
    text-align: center;
    font-family: 'Pacifico';
    color: black;
    background: #e294f5;
    width: 400px;
    height: 665px;
    margin-top: 120px;
    margin-left: 430px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;

}


.formulario2 p {
    font-size: 22px;
}


.formulario2 h1 {
    font-size: 35px;
}


.formulario2 .continuar {
    font-size: 15px;
    font-family: 'Pacifico';
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 6px;
    margin-top: 8px;
}

.formulario2 .continuar:hover {
    color: #461453;
}


/*Footer*/

.footer {
    display: flex;
    background-color: #e294f5;
    font-family: 'Pacifico';
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.contacto {
    position: absolute;
    margin-left: 120px;
    margin-top: 20px;
}

.contacto a, .consejos a{
    text-decoration: none;
    color: #461453;
    font-size: 30px;
}

.social_media {
    margin-left: 550px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.social_media a {
    text-decoration: none;
    color: #461453;
    font-size: 40px;
    padding-right: 10px;
}

.social_media a:hover, .contacto a:hover, .consejos a:hover {
    transition: 0.5s;
    color: #9c15be;
}

.consejos p {
    font-size: 15px;
}

.consejos {
    margin-left: 180px;
    /*para responsive 220*/
    margin-top: 10px;
    color:#461453;
}

.consejos:last-child {
    text-align: center;
}

/*Responsive header*/
@media(max-width:844px) {
    nav ul li a {
        font-size: 15px;
        padding-left: 7px;
        display: inline-block;
    }

    nav {
        margin-left: -10px;
        ;
        display: inline-block;
        height: 10px;
        width: 80%;
    }

    .logo img {
        width: 70px;
        height: 70px;
        padding-top: 10px;
        margin-left: -32px;
        margin-top: -10px;
    }

    header {
        height: 75px;
        width: 100%;
    }

    nav ul li a:hover {
        color: #F54D4E
    }

    /*Responsive formulario*/


    .formulario {
        width: 350px;
        height: 515px;
        margin-left: 20px;
        margin-top: 72px;
    }

    .formulario h1 {
        font-size: 18px;
    }

    .formulario p {
        font-size: 15px;
        margin-top: 5px;
    }

    .fomulario select option {
        font-size: 11px;
    }

    .formulario .continuar {
        font-size: 10px;
        width: 58px;
    }

    .formulario .continuar:hover {
        color: #F54D4E;
    }

    /*Responsive descripcion*/

    .descripcion {
        font-size: 15px;
        padding: 8px;
        border-radius: 15px;
    }

    /*Responsive botones*/
    .botones button a {
        font-size: 15px;
        padding: 4px;
    }

    /*Responsive Footer*/

    .contacto h2 {
        font-size: 16px;
        margin-top: 0px;
        margin-left: -32px;
    }

    .contacto p {
        font-size: 12px;
        margin-left: -32px;
    }

    .social_media a {
        font-size: 15px;
    }

    .consejos a {
        font-size: 16px;
        margin-left: -1460px;
        margin-bottom: -10cm;
    }

    .consejos p {
        font-size: 11px;
        margin-left: -1460px;
    }
}