*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Menu*/

header{
    width: 100%;
    background-color:#FE9595;
    height: 178px;
}
#menu{
    width: 80%;
    height: 150px;
    margin: auto;
}
.logo{
    width: 20%;
    height: 50px;
    float: left;
    padding-top: 10px;
}
nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: center;
    padding-top: 25px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: black;
    font-size: 44px;
    text-decoration: none;
    font-family: 'Pacifico';
    padding-left: 24px;
    letter-spacing: 1px;
}
nav ul li a:hover{
    color:#F54D4E;
}


/*principal*/
main{
    background-image: url("/assets/imagenes/imagen1.jpg");
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 500px;
    
}
.botones {

    font-family: 'Pacifico';
    text-shadow: 0 0 2px white;
    text-align: center;
}

/*Formulario de la pagina de registro*/
.formulario{
    text-align: center;
    font-family: 'Pacifico';
    color: black;
    background: #FE9595;
    width: 450px;
    margin-top: 31px;
    margin-left: 430px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;
    
}
.formulario .continuar{
    font-size: 15px;
    font-family: 'Pacifico';
    background-color: black;
    color: #FE9595;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 6px;
    margin-top: 8px;
}
.formulario .continuar:hover{
    color: #F54D4E;
}


/*Footer*/

.footer{
    display:flex;
    background-color: #FE9595;
    font-family: 'Pacifico';
    padding-bottom: 10px;
    bottom: 0;
    position: absolute;
    width: 100%;

}

.contacto{
    margin-left: 20px;
    margin-top: 10px;
}

.contacto p{
    margin-top: -10px;
}

.social_media{
    margin-left: 430px;
}

.social_media a{
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.social_media a:hover{
    transition: 0.5s;
    transform: scale(1.3);
    color:#F54D4E;
}

.consejos p{
    font-size: 15px;
}

.consejos{
    margin-left: 320px;
    margin-top: 10px;
}

.consejos:last-child{
    text-align: center;
}
.consejos a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.consejos a:hover{
    color:#F54D4E;
}


/*Responsive*/

/*Footer*/

