*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Menu*/

header{
    width: 100%;
    background-color:#FE9595;
    height: 178px;
}
#menu{
    width: 80%;
    height: 150px;
    margin: auto;
}
.logo{
    width: 20%;
    height: 50px;
    float: left;
    padding-top: 10px;
}
nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: center;
    padding-top: 25px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: black;
    font-size: 44px;
    text-decoration: none;
    font-family: 'Pacifico';
    padding-left: 24px;
    letter-spacing: 1px;
}
nav ul li a:hover{
    color:#F54D4E;
}


/*principal*/
main{
    background-image: url("../imagenes/imagen1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
   /* margin-block:initial;*/
    display: flex;
    flex-direction: column;
}
body{
    width: 100%;
    height: 500px;
}

.descripcion {
    margin: 20px;
    padding: 30px 20%;
    font-family: 'Pacifico';
    text-justify:center;
    
}

.botones {
    display: flex;
    justify-content: space-around;
    text-shadow: 0 0 4px white;
    text-align: center;   
}
button{
    padding: 5px;
    font-family: 'Pacifico';
    font-size: 30px;
    background-color: #FE9595;
    color: black;
    text-align: center;
    border-radius: 20px;
}
button:last-child{
    margin-left: -850px;
}

button:hover{
    color:#F54D4E;
}


/*Formulario de la pagina de registro*/
.formulario{
    text-align: center;
    font-family: 'Pacifico';
    color: black;
    background: #FE9595;
    width: 450px;
    margin-top: 31px;
    margin-left: 430px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;
    
}
.formulario .continuar{
    font-size: 15px;
    font-family: 'Pacifico';
    background-color: black;
    color: #FE9595;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 6px;
    margin-top: 8px;
}
.formulario .continuar:hover{
    color: #F54D4E;
}


/*Footer*/

.footer{
    display:flex;
    background-color: #FE9595;
    font-family: 'Pacifico';
    padding-bottom: 10px;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
}

.contacto{
    position:absolute;
    margin-left: 50px;
    margin-top: 20px;
}

.contacto p{
    margin-top: -10px;
}

.social_media{
    margin-left: 650px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.social_media a{
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.social_media a:hover{
    transition: 0.5s;
    transform: scale(1.3);
    color:#F54D4E;
}

.consejos p{
    font-size: 15px;
}

.consejos{
    margin-left: 320px;/*para responsive 220*/
    margin-top: 20px;
}

.consejos:last-child{
    text-align: center;
}
.consejos a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.consejos a:hover{
    color:#F54D4E;
}

/*Responsive*/
@media(max-width:844px){
    nav ul li a{
        font-size: 15px;
        padding-left: 7px;
        display: inline-block;
    }
    nav{
        margin-left:  -10px;;
        display: inline-block;
        height: 10px;
        width: 80%;
    }
    .logo img{
        width: 70px;
        height:70px;
        padding-top: 10px;
        margin-left: -32px;
        margin-top: -10px;
    }
    header{
        height: 75px;
        width: 100%;
    }
    nav ul li a:hover{
        color:#F54D4E
    }
}

/*Footer*/

